@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

/* ALL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid black; */
}

body{
    background-color: #e1e1e1;
}

/* NAV */

.controls{
    display: flex;
    justify-content: space-between;
    background-color: #4a90e2;
}

.filters{
    margin: 0;
    width: 100%;
    height: 60px;
    font-size: 0;
}

.filters div{
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    background-color: #4a90e2;
    color: #00408b;
    text-align: center;
    width: 33.3%;
    height: 60px;
    line-height: 60px;
}

.filters div.active{
    color: white;
    border-bottom: 4px solid #00408b;
}


/* ADD BUTTON */

.addButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn{
    width: 80%;
    height: 50px;
    font-size: large;
    text-align: left;
    color: black;
    opacity: 0.5;
    background-color: white;
    border-radius: 4px;
}

.btn>i{
    margin-left: 5%;
}

/* ADD TASK */

.todolist{
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    display: none;
}

.editList{
    width: 90%;
    min-height: 460px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
}

input[type="text"]{
    width: 60%;
    height: 20px;
    border: #FFFFFF;
    background-color: #f2f2f2;
    font-size: large;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
}

input[type="checkbox"]:checked{
    background: #3190e8;
    border: none;
}

input[type=checkbox]:checked::after{
    content: '';
    top: 3px;
    left: 4px;
    position: absolute;
    background: transparent;
    border: 2px solid white;
    border-top: none;
    border-right: none;
    height: 7px;
    width: 10px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.icon{
    position: absolute;
    display: inline;
    left: 68%;
    width: 60px;
    margin-left: 50px;
}

.icon>i{
    padding-top: 15px;
    margin-left: 5px;
    z-index: 1;
}

.fa-star.checked{
    color: #f5a623;    
}

.fa-pen.active{
    color: #4a90e2;
}

.line{
    width: 100%;
    height: 2px;
    background-color: #c8c8c8;
    margin-top: 15px;
}

p{
    margin: 5%;
}

#date,#time{
    background-color: white;
    font-size: 16px;
    width: 30%;
    height: 40px;
    border-radius: 3px;
}

#date{
    width: 40%;
}

.deadline{
    margin-left: 10%;
}

.upload_cover{
    position: relative;
    width: 10%;
    margin-left: 10%;
    text-align: center;
    cursor: pointer;
    background: #efefef;
}

.upload_cover>i:hover{
    color: #3982d7;
}

#input{
    display: none;
}

.file{
    display: flex;
    align-items: center;
}

.fileName{
    margin-left: 10%;
    display: none;
}

.fileName>p{
    width: 100%;
    font-size: 14px;
}

.fa-square-plus{
    font-size: 30px;
    color: #c8c8c8;
}

.comment{
    display: flex;
    justify-content: center;
}

#memo{
    background-color: white;
    width: 80%;
    height: 100px;
    border-radius: 3px;
    font-size: 16px;
}

.saveButton{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
}

.cancel{
    justify-content: left;
    width: 50%;
    height: 50px;
    line-height: 40px;
    background-color: white;
    color: #d0021b;
    font-size: 16px;
    border: white;
    border-bottom-left-radius: 5px;
}

.cancel:hover{
    background-color: #fdfdfd;
}

.save{
    width: 50%;
    height: 50px;
    line-height: 40px;
    background-color: #3190e8;
    color: white;
    font-size: 16px;
    border: #3190e8;
    border-bottom-right-radius: 5px;
    position: relative;
}

#editbtn{
    width: 45%;
    height: 50px;
    line-height: 40px;
    background-color: #3190e8;
    color: white;
    font-size: 16px;
    border: #3190e8;
    border-bottom-right-radius: 5px;
    position: absolute;
    left: 50%;
    display: none;
}

#editbtn:hover{
    background-color: #3982d7;
}

/* tasks */

.todos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.task{
    background-color: #f2f2f2;
    margin-top: 10px;
    width: 90%;
    height: 80px;
    border-radius: 5px;
}

.task:hover{
    box-shadow:  5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.info{
    width: 200px;
    margin-left: 8%;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 100;
    color: #757575;
}

.info>i{
    margin-left: 3%;
}

.info>i>span{
    margin-left: 5px;
}

.checked{
    text-decoration: line-through;
    color: #757575;
}

/* Task left */

.taskLeft,.taskDone{
    color: #c8c8c8;
    font-style: italic;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 15%;
}
