<!DOCTYPE html>
<html lang="en" ng-app="todoApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList with AngularJs</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
<link rel="stylesheet" href="index.css">

<body ng-controller="todoController as todoList">
    <div class="controls">
        <div class="filters">
            <div ng-repeat="tab in todoList.tabs" ng-click="todoList.selectTab(tab)" ng-class="{'active':tab.active}">
                {{tab.text}}</div>
            <!-- <div id="my-task" class="active" ng-click="todoList.toMyTasks()">My tasks</div>
            <div id="in-progress" ng-click="todoList.inProgress()">In progress</div>
            <div id="completed" ng-click="todoList.toComtleted()">Completed</div> -->
        </div>
    </div>
    <div class="addButton" ng-click="isShow = !isShow">
        <button class="btn" id="addbtn">
            <i class="fa-solid fa-plus"></i> Add Task
        </button>
    </div>
    <div class="todolist" ng-class="{'swichAddTask': isShow}">
        <div class="editList">
            <form class="star-status" ng-class="{'isImportant':isActive}" ng-submit="todoList.addTodo()">
                <input type="checkbox" name="" class="checkbox">
                <input type="text" name="" class="text" placeholder="Type Something Here..."
                    ng-model="todoList.newTodoText">
            </form>
            <div class="icon">
                <i class="fa-regular fa-star star"></i>
                <i class="fa-solid fa-star activeStar" ng-show=""></i>
                <i class="fa-solid fa-pen active pen"></i>
            </div>
            <div class="line"></div>
            <p><i class="fa-solid fa-calendar-days"></i> Deadline</p>
            <div class="deadline">
                <input type="date" id="date" ng-model="todo.userDate">
                <input type="time" id="time" ng-model="todo.userTime">
            </div>
            <p><i class="fa-regular fa-file"></i> File</p>
            <div class="file">
                <span class="fileName">
                    <p class="name"></p>
                    <p class="upload-time"></p>
                </span>
                <label class="upload_cover" id="file">
                    <i class="fa-solid fa-square-plus"></i>
                    <input type="file" id="input">
                </label>
            </div>
            <p><i class="fa-regular fa-comment-dots"></i> Comment</p>
            <div class="comment">
                <input type="text" placeholder="Type your memo here..." id="memo" ng-model="todo.userMemo">
            </div>
            <div class="saveButton">
                <button class="cancel"><i class="fa-solid fa-xmark"></i> Cancel</button>
                <button class="save" id="savebtn" ng-click="todoList.addTodo()"><i class=" fa-solid fa-plus"></i> Add
                    Task</button>
                <button id="editbtn"><i class="fa-solid fa-plus"></i> Save</button>
            </div>
        </div>
    </div>

    <section ng-show="todoList.currentTab == 'My task'">
        <ul class="todos" id="sortable">
            <li class="task" ng-repeat="todo in todoList.todos" ng-class="{'isImportant':isActive}">
                <label for="">
                    <input type="checkbox" name="" class="checkbox" id="1" ng-model="todo.done">
                    <span class="text" ng-class="{'isDone':todo.done}">{{todo.text}}</span>
                </label>
                <div class="icon">
                    <i class="fa-regular fa-star star" ng-click="isActive = !isActive"></i>
                    <i class="fa-solid fa-star activeStar" ng-show="isActive"></i>
                    <i class="fa-solid fa-pen pen" ng-click="todoList.isEdit()"></i>
                </div>
                <div class="info">
                    <i class="fa-solid fa-calendar-days"></i>
                    <i class="fa-regular fa-file"></i>
                    <i class="fa-regular fa-comment-dots"></i>
                </div>
            </li>
        </ul>
        <div class="taskLeft">{{todoList.totalTodo()}} task left</div>
    </section>

    <section ng-show="todoList.currentTab !== 'My task'">
        <ul class="todos" id="sortable">
            <li class="task" ng-repeat="todo in todoList.filterTodos" ng-class="{'isImportant':isActive}">
                <label for="">
                    <input type="checkbox" name="" class="checkbox" id="1" ng-model="todo.done">
                    <span class="text" ng-class="{'isDone':todo.done}">{{todo.text}}</span>
                </label>
                <div class="icon">
                    <i class="fa-regular fa-star star" ng-click="isActive = !isActive"></i>
                    <i class="fa-solid fa-star activeStar" ng-show="isActive"></i>
                    <i class="fa-solid fa-pen pen" ng-click="todoList.isEdit()"></i>
                </div>
                <div class="info">
                    <i class="fa-solid fa-calendar-days"></i>
                    <i class="fa-regular fa-file"></i>
                    <i class="fa-regular fa-comment-dots"></i>
                </div>
            </li>
        </ul>
        <div class="taskLeft">{{todoList.totalTodo()}} task left</div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="index.js"></script>
</body>

</html>